.nav_wrap {
    background-color: #000000;
    color: #ffffff;
    height: 100px;

    display: flex;

    .nav_logo {
        flex-basis: 10%;
        height: 100%;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-basis: 90%;
        height: 100px;
        margin: 0;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;

        a {
            flex-basis: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            transition: font-size 0.3s;
            cursor: pointer;

            @media screen and (max-width:768px) {
                flex-basis: 30%;
            }

            @media screen and (max-width:480px) {
                flex-basis: 40%;
            }

            li {
                color: white;
            }

            &:hover {
                font-size: 20px;
                background-color: #141414;
            }
        }
    }
}